.cards-box {
    max-width: 425px;
    padding: 20px 5px;
    margin: 0 auto;

    .event-card {
        border-radius: 20px;
        background-color: #fff;

        &__left {
            //width: 140px;
            //height: 140px;

            &--img {
                //background-color: #d2d2d2;
                //border-radius: 8px 8px 0 0;
                width: 100%;
                height: 100%;

                img {
                    width: 90%;
                    max-height: 280px;
                    border-radius: 20px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    text-align: center;
                    margin: 5%;
                }
            }
        }

        &__right {
            padding: 10px 16px;

            &--title {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 5px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &--info li {
                list-style: none;
                display: block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
