.event-container {
  &__inner {
    margin-top: 16px;
    .event-img {
      max-width: 425px;
      margin: 0 auto;
      &__file {
        width: 100%;
        border-radius: 10px;
        // height: 200px;
        // background-color: #d2d2d2;
      }
    }
  }
}


// admin
.break-spaces {
  white-space: break-spaces;
}