.flash-container {
  > .container {
      position: fixed;
      z-index: 20;
      top: 7%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      height: 50px;
      padding: 0 24px;
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid currentColor;
      box-shadow: 0px 3px 5px #00000033;
      color: #0e83cd;
      margin-bottom: 0;
  }

  > .container > .text {
      color: currentColor;
  }

  > .container > .close-flash {
      appearance: none;
      border: none;
      color: currentColor;
      font-weight: bold;
      font-size: 1.5rem;
      background-color: transparent;
  }

  > .container > .close-flash:focus {
      outline: none;
  }

  > .container.-error {
      color: #fb191b;
  }

  &.-close {
      animation: close 0.3s forwards;
  }

}

@keyframes close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display:none;
  }
}
