.login-wrapper {
    max-width: 425px;
    margin: 48px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 32px 28px;
    .tab {
        display: flex;
        justify-content: center;
        margin: 20px 0 30px 0;
        &__item {
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            &--active {
                border-bottom: 2px solid rgba(14,131,205,1);
                color: rgba(14,131,205,1);
            }
            &--login {
              margin-right: 30px;
            }
            &--register {
              margin-left: 30px;
            }
        }
    }
    input {
        width: 100%;
        border: 1px solid #d2d2d2;
        border-radius: 5px;
        padding: 7px;
        background-color: #fff;
        font-size: 16px;
    }
    .register-select-form {
        width: 100%;
        border: 1px solid #d2d2d2;
        border-radius: 5px;
        padding: 7px;
        background-color: #fff;
        font-size: 16px;
    }
    &__img-wrapper {
        display: flex;
        justify-content: center;
    }
    &__img-preview {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    &__img-default {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        margin: 0 auto 20px auto;
        display: block;
        position: relative;
        .icon {
            position: absolute;
            left: 32px;
            top: 19px;
            font-size: 54px;
            opacity: 0.5;
            z-index: 10;
        }
    }
}
