.pagination-wrap {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 40px;
}

.pagination-wrap ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination-wrap ul.pagination li {
display: inline;
margin-right: 4px;
}

.pagination-wrap ul.pagination li a {
  color: #222;
  padding: 8px 14px;
  text-decoration: none;
}

.pagination-wrap ul.pagination li a.active {
  background-color: #0e83cd;
  color: white;
  border-radius: 40px;
  width: 38px;
  height: 38px;
}

.pagination-wrap ul.pagination li a:hover:not(.active) {
  background-color: #e1e7f0;
  border-radius: 40px;
}